* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-pic{
    margin-top: 20px;
    width: 200px;
    height: auto;
}

.icons{
    width: 50px;
    height: auto;
}


h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2,p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: rgba(98, 124, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    display: flex;
}

.nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}
.link h2 {
    padding: 0rem 2rem;
}

/* CONTENT */
.status {
    margin-bottom: 3rem;
}

.content {
    flex: 2;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icontent {
    width: 100px;
    height: auto;
}

.card {
    display: flex;
    background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education {
    margin-right: 250px;
}

.experience {
    margin-right: 243px;
}

.skills {
    margin-right: 312px;
}

.parag {
    text-align: center;
}

.git1 {
    margin-right: 85px;
}

.git2 {
    margin-right: 12px;
}

.git3 {
    margin-right: 60px;
}